body
    background-color: rgb(127, 208, 223)

.logo
    padding-top: 7vh
    position: relative

#logo
    width: 100%

@media (min-width: 992px)
    .logo
        padding-top: 7vh
        position: fixed

    .coffee h2
        margin-top: 0px

.info-panel
    padding-top: 7vh

.login-button
    color: white !important

.spinner
    position: relative
    min-height: 50px

.coffee-img
    margin: 0 auto

.no-margin
    margin-bottom: 0px !important

.jumbotron
    border-radius: 20px !important

.list-group-item
    cursor: pointer
